<!DOCTYPE html>
<html>

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
      <div class="container-fluid">
          <div class="navbar-header"><a class="navbar-brand" href={{ url('epf_projets_core_homepage') }}>Trouve ton junior</a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse navbar-menubuilder">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="{{ url('me_profile') }}">Mon profil</a>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">

                {% if app.user != null %}
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url('me_profile') }}">{{app.user.name}}  {{app.user.surname}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url('fos_user_security_logout') }}">Se deconnecter</a>
                  </li>
                </ul>
                </li>
                {% else %}
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href=/#>Connexion / Inscription<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url('fos_user_security_login') }}">Se connecter</a>
                  </li>
                  <li><a href="{{ url('fos_user_registration_register') }}">S'enregistrer</a>
                  </li>
                </ul>
                </li>
                {% endif %}

              </ul>
          </div>
      </div>
  </div>

  <title>{% block title %}Trouve ton Junior Entrepreneur{% endblock %}</title>


<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Trouve un junior</h1>
      <p>
        Ce projet est en développement
      </p>
    </div>

    <div class="row">
        {% block body %}
        {% endblock %}
    </div>

    <hr>

  </div>

  <!--{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}-->

  <footer class="fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="copyright">
            © 2017, Valentin VASSAS tavu
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="design">
             <a href="#">Trouve ton junior </a> | <a target="_blank" href="http://www.epfprojets-sceaux.com">Découvrez notre savoir faire</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
