{% extends "::layout.html.twig" %}
{% block body %}

<div class="col-md-4">
<h2>Outil de recherche</h2>
{{ form(form) }}
</div>

<div class="col-md-8">
<h1>Meilleurs profils</h1>
{% for p in profiles %}
            <p>{{ p.nbreVues }} vues         <a href="{{ path('profile_view', { 'id' : p.id })}}">{{ p.user.name }} {{ p.user.surname }}</a> </p>
{% endfor %}
</div>

{% endblock %}
