{% extends "EPFProjetsProfileBundle::layout.html.twig" %}
{% block body %}


{% for message in app.session.flashbag.get('info') %}
<p>Message flash : {{ message }}</p>
{% endfor %}

{% if buttonLike == 1 %}
<a href="{{ path('profile_like', {'id':profile.id }) }}" class="btn btn-info btn-block" role="button">Je like ce profil</a>
{% elseif buttonLike == 2 %}
<button type="button" class="btn btn-primary btn-block disabled">Vous avez déjà liké ce profil</button>
{% elseif buttonLike == 3 %}
<button type="button" class="btn btn-primary btn-block disabled">Vous vous likez mutuellement avec cette personne</button>
{% elseif buttonLike == 4 %}
<button type="button" class="btn btn-primary btn-block disabled">Vous ne pouvez liker votre profile</button>
{% else %}
<button type="button" class="btn btn-primary btn-block disabled">Vous devez créer votre profile pour liker</button>
{% endif %}


<div class="col-md-3">
<h1>{{ profile.user.name }} {{ profile.user.surname }}</h1>
<p>
{% if profile.image is not null %}
<img src="{{ asset('uploads/' ~ profile.image.imageFile) }}" class="img-rounded" width="200" height="200">
{% endif %}
</p>


</div>

<div class="col-md-9">
<h2>Sexe</h2>
<p>{{ profile.user.sexe }}</p>
<h2>Age</h2>
<p>{{ profile.user.getAge }}</p>
<h2>Nombre de vues</h2>
<p>{{ profile.nbreVues }} vues</p>
<h2>Region</h2>
<p>{{ profile.user.region }}</p>
<h2>Description</h2>
<p>{{ profile.description }}</p>
</div>

{% endblock %}
