{% extends "EPFProjetsProfileBundle::layout.html.twig" %}
{% block body %}
    <h1>Profile {{ profile.id }}</h1>

    {{ profile.description }}
    <br>{{ profile.nbreVues }} nbre vues
    <br>{{ profile.user.name }} nom
    <br>{{ profile.user.surname }} surname
    <br>{{ profile.user.sexe }} sexe
    <br>{{ profile.user.getAge|trans }} yo

    {% if profile.image is not null %}
    <img src="{{ profile.image.url }}" alt="{{ profile.image.alt }}">
    {% endif %}

    {% for message in app.session.flashbag.get('info') %}
    <p>Message flash : {{ message }}</p>
    {% endfor %}

{% endblock %}
